# Simple workflow for deploying static content to GitHub Pages
name: Deploy static content to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["master", "website"]
    paths:
      - docs/**
    tags:
      - "v*"

# Sets the GITHUB_TOKEN permissions to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment

jobs:
  # Single deploy job since we're just deploying
  deploy:
    uses: WorldOfScala/actions/.github/workflows/gh-pages.yml@master
    with:
      script: ./scripts/gh-pages.sh
    secrets: inherit